/* NG-VIEW */

.view {
  width: 70%;
  margin: 0 auto;
}


/* LOGIN/REGISTER */

.formLoginRegDiv {
  width: 100%;
  margin: 0 auto;
}

.form-horizontal {
  width: 35%;
  background-color: #F5F5F5;
}

.form-group {
  width: 100%;
}

.form-control {
  height: 2em;
  width: 80%;
}

.form-group, .logInBtn {
  margin: 0 auto;
  margin-top: 10px;
}

.cmdLogIn {
  margin: 0 auto;
  display: flex;
  height: 30px;
}

.regPrompt h4 {
  /*text-align: left;*/
  /*margin-left: 3%;*/
  font-weight: 600;
  margin: 0 auto;
}

input {
  width: 100px;
}

.userEditInfo {
  background-color: white;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 7px 9px 13px rgba(0, 0, 0, 0.8);
}

.userEditField {
  width: 60%;
}


/* PET INFO DISPLAY */

.petBlock {
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 35px;
}

.cardPetName {
  text-align: left;
  font-weight: 600;
}

.petCmdBtn {
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

button {
  align-self: center;
}


/* HEALTH HISTORY TABLE */

.historyTbl {
  background-color: #fff;
  box-shadow: 7px 9px 13px rgba(0, 0, 0, 0.8);
  width: 100%;
}

.histDate, .histPurp, .histWt, .histMed, .histCost, .histNote {
  padding: 0 5px;
  text-align: left;
}

.histDate, .histWt {
  text-align: center;
}

.histCost {
  text-align: right;
}


/*.logInForm .regForm {
  width: 60%;
  align-items: : center;
  margin: 0 auto;
}*/

.logInField {
  width: 60%;
}


/*.logInGrp {
  align-self: center;
}*/

legend {
  padding-left: 15px;
  border-bottom-color: #4460FF;
}

.regPrompt {
  width: 100%;
  margin: 0 auto;
}

.regBtn {
  width: 30%;
}

footer {
  position: fixed;
  height: 65px;
  bottom: 0;
  width: 100%;
  background-color: white;
}

header {
  position: fixed;
  height: 115px;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: blue;
}

body {
  padding-top: 130px;
  padding-bottom: 130px;
}

.nav {
  /*position: fixed;*/
  height: 50px;
  top: 110px;
  width: 100%;
  background-color: white;
  border-radius: 0;
  box-sizing: content-box;
  margin: 0 auto;
}

nav-pills {
  padding-left: 10%;
  margin-left: 10%;
}

.navbar-light {
  padding-right: 10%;
}
