h1 {
  font-weight: bold;
  font-size: 43px;
}

h3 {
  font-style: italic;
  font-weight: 600;
}

.myPets {
  font-style: normal;
  font-weight: 500;
  color: #FFDF7B;
}


/* NG-VIEW */

.view {
  width: 70%;
  margin: 0 auto;
}


/* LOGIN/REGISTER */

.formLoginRegDiv {
  width: 100%;
  margin: 0 auto;
}

.form-horizontal {
  width: 38%;
  background-color: #F5F5F5;
  height: 380px;
  border-radius: 8px;
}

.form-group {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
}

.form-control {
  height: 2em;
  width: 80%;
}

legend {
  padding: 10px 0 0 20px;
  border-bottom-color: #A9A9A9;
}

.cmdLogIn {
  margin-top: 10px;
  width: 120px;
  height: 35px;
}

.notReg, .cmdRegBtn {
  text-align: center;
}

.cmdCancel {
  width: 120px;
}

.logInField {
  width: 40%;
}


/* TBI */

.userEditInfo {
  background-color: #F5F5F5;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 7px 9px 13px rgba(0, 0, 0, 0.8);
}

.userEditField {
  width: 60%;
}


/* PET INFO DISPLAY */

.petBlock {
  border: 1px solid #112AB2;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 35px;
  box-shadow: 7px 9px 13px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

.cardPetName {
  text-align: left;
  font-weight: 600;
}

.petCmdBtn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.addNewPetDiv {
  background-color: #F5F5F5;
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 7px 9px 13px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

.petInfoField {
  height: 2em;
  width: 70%;
}

.addPet {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.cancelNewPet, .addNewPet {
  width: 120px;
  height: 35px;
  /*display: flex;
  justify-content: center;*/
  text-align: center;
  /*align-items: center;*/
}

.addCmdBtns {
  display: flex;
  justify-content: center;
}


/* HEALTH HISTORY TABLE */

.historyTbl {
  background-color: #fff;
  box-shadow: 7px 9px 13px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  width: 100%;
}

.histDate, .histPurp, .histWt, .histMed, .histCost, .histNote {
  padding: 0 5px;
  text-align: left;
  font-size: .95em;
}

.histDate, .histWt {
  text-align: center;
}

.histCost {
  text-align: right;
}

footer {
  position: fixed;
  height: 65px;
  bottom: 0;
  width: 100%;
  background-color: white;
}

header {
  position: fixed;
  height: 125px;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 3px solid #BBC6FF;
}

body {
  padding-top: 130px;
  padding-bottom: 130px;
}

.nav {
  /*position: fixed;*/
  height: 50px;
  top: 110px;
  width: 100%;
  background-color: white;
  border-radius: 0;
  box-sizing: content-box;
  margin: 0 auto;
}

nav-pills {
  padding-left: 10%;
  margin-left: 10%;
}

.navbar-light {
  padding-right: 10%;
}
