<h3>Welcome home, {{pac.userFirst}}</h3>
<br>

<div>

  <!-- START owner -->
  <div class="owner">
    <p>Owner(s): {{pac.userFirst}} {{pac.userLast}}</p>
    <p>Email/username: {{pac.userEmail}}</p>
    <p><button type="button" name="cmdEditOwner" ng-click='pac.editOwner()'>Edit</button></p>
    <p><button type="button" name="cmdAddPet" ng-click='pac.newPet()'>New Pet</button></p>
  </div>
  <hr>
  <!-- END owner -->

  <!--
  <div ng-include="'partials/petdata.html'"></div>
  <div ng-include="'vetdata.html'"></div>
  <div ng-include="'pethealth.html'"></div>
  -->



  <!-- START petData -->
  <div class="petData_01">
    <h4>Pet Information</h4>
    <p>
    <button type="button" name="cmdEditPet" ng-click='pac.editPet()'>Edit</button></p>

    <p><label for="txtPetName">Name: </label>
    <input type="text" ng-model='pac.txtPetName' name="txtPetName" value=""></p>

    <p><label for="selPetType">Type: </label>
    <select class="petType" ng-model='pac.selPetType' name="selPetType">
      <option value="select">Select One</option>
      <option value="Cat">Cat</option>
      <option value="Dog">Dog</option>
    </select></p>

    <p>
      <label for="selPetBreed">Breed: </label>
      <input type="text" ng-model='pac.txtPetBreed' name="txtPetBreed" value="">
    </p>

    <p><label for="selPetColor">Color: </label>
    <select class="petColor" ng-model='pac.txtPetColor' name="selPetColor">
      <option value="select">Select One</option>
      <option value="Black">Black</option>
      <option value="Brown">Brown</option>
      <option value="Choclate">Choclate</option>
      <option value="TBD">To be populated via angucomplete-alt</option>
    </select></p>

    <p><label for="selPetMarking">Markings: </label>
    <select class="petMarking" ng-model='pac.txtPetMarking' name="selPetMarking">
      <option value="select">Select One</option>
      <option value="Brindle">Brindle</option>
      <option value="Dapple">Dapple</option>
      <option value="Harlequin">Harlequin</option>
      <option value="dot">To be populated via angucomplete-alt</option>
    </select></p>

    <p><label for="">Sex: </label>
    <select class="petSex" ng-model='pac.selPetSex' name="selPetSex">
      <option value="select">Select One</option>
      <option value="Female (intact)">Female (intact)</option>
      <option value="Female (spayed)">Female (spayed)</option>
      <option value="Male (intact)">Male (intact)</option>
      <option value="Male (neutered)">Male (neutered)</option>
    </select></p>

    <p><label for="dtmPetDOB">DOB: </label>
    <input type="date" ng-model='pac.dtmPetDOB' name="dtmPetDOB" value=""></p>

    <p><button type="button" ng-click='pac.addNewPet()' name="cmdAddNewPet">Save</button></p>
  </div>
  <hr>
  <!-- END petData -->

  <!-- START petVetData -->
  <div class="vetData_01">
    <h4>Vet Information</h4>
  <p><button type="button" name="cmdEditVet" ng-click='pac.editVet()'>Add/Edit</button></p>

    <p><label for="txtVetClinic">Clinic: </label>
    <input type="text" ng-model='pac.txtVetClinic' name="txtVetClinic" value=""></p>

    <p><label for="txtVetDr">Doctor: </label>
    <input type="text" ng-model='pac.txtVetDr' name="txtVetDr" value=""></p>

    <p><label for="txtVetStreet">Street: </label>
    <input type="text" ng-model='pac.txtVetStreet' name="txtVetStreet" value=""></p>

    <p><label for="txtVetCity">City: </label>
    <input type="text" ng-model='pac.txtVetCity' name="txtVetCity" value=""></p>

    <p><label for="txtVetState">State: </label>
    <input type="text" ng-model='pac.txtVetState' name="txtVetState" value=""></p>

    <p><label for="txtVetZIP">ZIP</label>
    <input type="text" ng-model='pac.txtVetZIP' name="txtVetZIP" value=""></p>

    <p><label for="telVetPhone">Phone: </label>
    <input type="tel" ng-model='pac.telVetPhone' name="telVetPhone" value=""></p>

    <p><label for="txtVetEmail">Email: </label>
    <input type="text" ng-model='pac.txtVetEmail' name="txtVetEmail" value=""></p>

    <p><label for="txtVetURL">Website: </label>
    <input type="text" ng-model='pac.txtVetURL' name="txtVetURL" value=""></p>

    <p><button type="button" ng-click='pac.saveVet()' name="cmdSaveVet">Save</button></p>

  </div>
  <hr>
  <!-- END petVetData -->


  <!-- START petHealth -->
  <div class="petHealth_01">
    <h4>Health History</h4>
    <p><button type="button" name="cmdNewAppt" ng-click='pac.newAppt()'>New Record</button></p>

    <!-- START health history table -->
    <table>
      <!-- START header row -->
      <thead>
        <tr>
          <th>Date</th>
          <th>Vet</th>
          <th>Purpose</th>
          <th>Weight</th>
          <th>Meds</th>
          <th>Cost</th>
          <th>Notes</th>
        </tr>
      </thead>
      <!-- END header row -->

      <!-- START data -->
      <tbody>
        <tr>
          <td><input type="date" ng-model='pac.dtmApptDate' name="dtmApptDate" value=""></td>
          <td>Marschall Rd</td>
          <td><input type="text" ng-model='pac.txtApptPurp' name="txtApptPurp" value=""></td>
          <td><input type="text" ng-model='pac.intApptWt' name="intApptWt" value=""></td>
          <td><input type="text" ng-model='pac.txtApptMeds' name="txtApptMeds" value=""></td>
          <td><input type="text" ng-model='pac.curApptCost' name="curApptCost" value=""></td>
          <td><input type="text" ng-model='pac.txtApptNotes' name="txtApptNotes" value=""></td>
          <td><button type="button" name="cmdNewAppt" ng-click='pac.saveAppt()'>Save</button></td>
        </tr>
      </tbody>
      <!-- END data -->
    </table>
    <!-- END health history table -->

  </div>
  <!-- END petHealth -->


</div>
