<!-- START login div -->
<div class='formLoginRegDiv'>
  <!-- START Log-in form -->
  <form class="form-horizontal">
    <fieldset>

      <!-- Form legend -->
      <legend>Log In</legend>

        <!-- START Email input-->

        <div class="form-group">
          <p class='logInGrp'><label class="col-md-4 control-label" for="textinput">Email:</label>
          <input ng-model='rlc.hypEmail' id="textinput" name="hypEmail" type="email" placeholder="email address" class="form-control input-md logInField" required=""></p>
        </div>
        <!-- END Email input -->

        <!-- START Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="txtPassword">Password:</label>
            <input ng-model='rlc.txtPassword' id="passwordinput" name="txtPassword" type="password" placeholder="password" class="form-control input-md logInField" required="">
        </div>
        <!-- END Password input -->

        <!-- START Log-in button -->
        <div class="form-group">
          <p class='cmdRegBtn'><label class="col-md-4 control-label" for="cmdLogIn"></label><br>
            <button class="ccmdLogIn btn btn-success" name="cmdLogIn" ng-click='rlc.logIn()'><i class="fa fa-sign-in"></i>  LOG IN!</button></p>
            <!-- <hr> -->
            <br>
            <!-- START Register prompt -->
            <h4>Not a registered user?</h4>
            <br>
            <p class='cmdRegBtn'><a href="#!/register"><button type="button" name="cmdRegForm" ng-click='rlc.registerForm()' class='btn btn-info'><i class="fa fa-user-plus"></i>
        REGISTER HERE!</button></a></p>
            <!-- END Register prompt -->
        </div>
        <!-- END Log-in button -->

      </fieldset>
  </form>
  <!-- END Log-in form -->
</div>
<!-- END login div -->
