<!-- START Log-in form -->
<form class="form-horizontal">
  <fieldset>

    <!-- Form legend -->
    <legend>Log In</legend>

      <!-- START Email input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Email:</label>
        <input ng-model='pac.hypEmail' id="textinput" name="hypEmail" type="email" placeholder="email address" class="form-control input-md" required="">
      </div>
      <!-- END Email input -->

      <!-- START Password input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="txtPassword">Password:</label>
          <input ng-model='pac.txtPassword' id="passwordinput" name="txtPassword" type="password" placeholder="password" class="form-control input-md" required="">
      </div>
      <!-- END Password input -->

      <!-- START Log-in button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="cmdLogIn"></label><br>
          <button id="cmdLogIn" name="cmdLogIn" class="btn btn-success" ng-click='pac.getUser()'><i class="fa fa-sign-in" aria-hidden="true"></i> LOG IN!</button>
      </div>
      <!-- END Log-in button -->

      <!-- START Register prompt -->
      <div class="form-group">
        <hr>
        <br>
        <label for="cmdRegForm">Not a registered user?</label><br>
        <div class="col-md-4">
          <a href="#!/register"><button type="button" name="cmdRegForm" ng-click='pac.registerForm()'><i class="fa fa-user-plus" aria-hidden="true"></i>
      REGISTER HERE!</button></a>

        </div>
      </div>
      <!-- END Register prompt -->

    </fieldset>
</form>
<!-- END Log-in form -->
