<!-- START petHealth -->
<div class="petHealth_01">
  <h4>Health History</h4>
  <p><button type="button" name="cmdNewAppt">New Appointment</button></p>

  <!-- START health history table -->
  <table>
    <!-- START header row -->
    <thead>
      <tr>
        <th>Date</th>
        <th>Vet</th>
        <th>Purpose</th>
        <th>Weight</th>
        <th>Meds</th>
        <th>Cost</th>
        <th>Notes</th>
      </tr>
    </thead>
    <!-- END header row -->

    <!-- START data -->
    <tbody>
      <tr>
        <td>07/07/17</td>
        <td>Marschall Rd</td>
        <td>Annual checkup</td>
        <td>53</td>
        <td>N/A</td>
        <td>127.53</td>
        <td>Blue is an idiot, but we love him</td>
      </tr>
    </tbody>
    <!-- END data -->
  </table>
  <!-- END health history table -->

</div>
<!-- END petHealth -->
