<!-- START pets.html -->
<div>

  <h4>Pet Information</h4>
  <p ng-show='pc.petEdit'><button type='button' name='cmdAddPet' ng-click='pc.newPet()'>New Pet</button>


  <!-- START edit petData -->
  <div class='petData_01' ng-hide='pc.petEdit'>

    <p><label for='txtPetName'>Name: </label>
      <input type="text" name="txtPetName" value="" ng-model='pc.txtPetName'>
    </p>


    <p><label for='selPetType'>Type: </label>
    <select class='petType' name='selPetType' ng-model='pc.selPetType'>
      <option value='select'>Select One</option>
      <option value='cat'>Cat</option>
      <option value='dog'>Dog</option>
    </select></p>

    <p><label for='selPetBreed'>Breed: </label>
    <select class='petBreed' ng-model='pc.txtPetBreed' name='selPetBreed'>
      <option value='select'>Select One</option>
      <option value='Xiasi'>Xiasi</option>
      <option value='TBD'>To be populated via angucomplete-alt</option>
    </select></p>

    <p><label for='selPetColor'>Color: </label>
    <select class='petColor' ng-model='pc.txtPetColor' name='selPetColor'>
      <option value='select'>Select One</option>
      <option value='Black'>Black</option>
      <option value='Brown'>Brown</option>
      <option value='Choclate'>Choclate</option>
      <option value='TBD'>To be populated via angucomplete-alt</option>
    </select></p>

    <p><label for='selPetMarking'>Markings: </label>
    <select class='petMarking' ng-model='pc.txtPetMarking' name='selPetMarking'>
      <option value='select'>Select One</option>
      <option value='Brindle'>Brindle</option>
      <option value='Dapple'>Dapple</option>
      <option value='Harlequin'>Harlequin</option>
      <option value='dot'>To be populated via angucomplete-alt</option>
    </select></p>

    <p><label for=''>Sex: </label>
    <select class='petSex' name='selPetSex' ng-model='pc.selPetSex'>
      <option value='select'>Select One</option>
      <option value='Female (intact)'>Female (intact)</option>
      <option value='Female (spayed)'>Female (spayed)</option>
      <option value='Male (intact)'>Male (intact)</option>
      <option value='Male (neutered)'>Male (neutered)</option>
    </select></p>

    <p><label for='dtmPetDOB'>DOB: </label>
    <input type='date' name='dtmPetDOB' value='' ng-model='pc.dtmPetDOB'></p>
    <button type="button" name="cmdAddPet" ng-click='pc.addPet()'>Add</button>
    <button type="button" name="cmdCancAddPet" ng-click='pc.newPet()'>Cancel</button>
  </div>
  <!-- END edit petData -->

  <!-- START display petData -->
  <hr>
  <div ng-init='pc.getPets()'>
    <div ng-repeat='pet in pc.pets'>
      <h5>{{pet.txtpetname}}</h5>
      <p><b>Description: </b></p>
      <ul>
        <li>{{pet.txtpetname}} is a {{pet.txtsex | lowercase}} {{pet.txtbreed}}</li>
        <li ng-if='pet.txtsex == "Female (spayed)" || pet.txtsex == "Female (intact)"'>Born on {{pet.dtmdob | date:'MM/dd/yy'}} she is  {{pet.age.years}} years old</li>
        <li ng-if='pet.txtsex === "Male (neutered)" || pet.txtsex === "Male (intact)"'>Born on {{pet.dtmdob | date:'MM/dd/yy'}} he is  {{pet.age.years}} years old</li>
        <li ng-if='pet.txtsex == "Female (spayed)" || pet.txtsex == "Female (intact)"'>Her coat is {{pet.txtcolor}} with {{pet.txtmarking}} markings</li>
        <li ng-if='pet.txtsex === "Male (neutered)" || pet.txtsex === "Male (intact)"'>His coat is {{pet.txtcolor}} with {{pet.txtmarking}} markings</li>
      </ul>
      <p><button type="button" name="cmdHistory">History</button>
      <button type="button" name="cmdEditPet">Edit</button></p>
      <hr>
    </div>
  </div>
  <!-- END display petData -->

</div>
<!-- END pets.html -->
