<form method="post">
  <label for="txtFirstName">First: </label>
  <input type="text" name="txtFirstName" placeholder="first name"><br>
  <label for="txtLastName">Last: </label>
  <input type="text" name="txtLastName" placeholder="last name"><br>
  <label for="hypEmail">Email: </label>
  <input type="email" name="hypEmail" placeholder="email"><br>
  <label for="txtPassword">Password: </label>
  <input type="password" name="txtPassword" placeholder="password"><br>
  <button type="submit" name="cmdSubmit">REGISTER!</button>
</form>
