<!-- START User Partial -->
<div>

  <!-- START Display User Info -->
  <div class="userInfoDisplay userEditInfo">
    <p><b>User: </b>{{uc.userFirst}} {{uc.userLast}}</p>
    <p><b>Email: </b>{{uc.userEmail}}</p>
    <div class="cmdUserEdit">
      <p><button class='cmdUserEdit btn btn-info'type="button" name="cmdUserEdit" ng-show='uc.editUserHide' ng-click='uc.editUser()'>Edit</button></p>

    </div>

  </div>
  <!-- END Display User Info -->


  <!-- START Edit User Info -->
  <form class='userEditInfo' ng-hide="uc.editUserHide">
    <div>
      <!-- START txtFirstName input -->
      <div class="form-group">
        <p><label class="col-md-4 control-label" for="txtFirstName">First: </label>
        <input ng-model='rlc.txtFirstName' id="textinput" name="txtFirstName" type="text" class="form-control input-md userEditField" required="" value='{{uc.userFirst}}'></p>
      </div>
      <!-- END txtFirstName input -->

      <!-- START txtLastName input -->
      <div class="form-group">
        <p><label class="col-md-4 control-label" for="txtLastName">Last: </label>
        <input ng-model='rlc.txtLastName' id="textinput" name="txtLastName" type="text" class="form-control input-md userEditField" required="" value={{uc.userLast}}></p>
      </div>
      <!-- END txtLastName input-->

      <!-- START hypEmail input-->
      <div class="form-group">
        <p><label class="col-md-4 control-label" for="hypEmail">Email: </label>
        <input ng-model='rlc.hypEmail' id="textinput" name="hypEmail" type="email" class="form-control input-md userEditField" required="" value="{{uc.userEmail}}"></p>
      </div>
      <!-- END hypEmail input-->

      <div class="editUserInfoCmdDiv">
        <p><button class='cmdEditUserSave btn btn-success fa fa-user-plus' type="button" name="cmdEditUserSave" ng-click='uc.editUserSave()'>Save</button></p>
        <br>
        <p><button class='cmdEditUserCancel fa fa-hand-paper-o' type="button" name="cmdEditUserCancel" ng-click='uc.editUserCancel()'>Cancel</button></p>


      </div>

    </div>
  </form>
  <!-- END Edit User Info -->

</div>
<!-- END User Partial -->



<!-- <form editable-form name="editableForm" onaftersave="saveUser()">
    <div> -->
      <!-- editable username (text with validation) -->
      <!-- <span class="title">Pet name: </span>
      <span editable-text="pc.pet.name" e-name="name" e-placeholder="pet's name" onbeforesave="checkName($data)" e-required>{{ pc.pet.name || 'empty' }}</span>
    </div>

    <div> -->
      <!-- editable status (select-local) -->
      <!-- <span class="title">Status: </span>
      <span editable-select="user.status" e-name="status" e-ng-options="s.value as s.text for s in statuses">
        {{ (statuses | filter:{value: user.status})[0].text || 'Not set' }}
      </span>
    </div>

    <div> -->
      <!-- editable group (select-remote) -->
      <!-- <span class="title">Group: </span>
      <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-ng-options="g.id as g.text for g in groups">
        {{ showGroup() }}
      </span>
    </div>

    <div class="buttons"> -->
      <!-- button to show form -->
      <!-- <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button> -->
      <!-- buttons to submit / cancel form -->
      <!-- <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
  </form> -->
