<div ng-controller='NavController as nc' class='container'>
  <h1>PetTrax</h1>
  <h4>...because your pet is family!</h4>
  <nav class='navbar navbar-light bg-faded'>
    <a class='navbar-brand' href='#'><img alt='pet trax' src='images/pettrax-logo-64.png'></a>
    <ul class='nav nav-pills'>
      <li role='presentation' class='active'><a href='#'>Home</a></li>
      <li role='presentation'><a href='#'>Owner</a></li>
      <li role='presentation'><a href='#'>Pets</a></li>
      <p class='navbar-text navbar-right'>Signed in as {{USERNAME}}... <a href='#' class='navbar-link'>SIGN OUT</a></p>
    </ul>
  </nav>
</div>
