<!-- START petVetData -->
<div class="vetData_01">
  <h4>Vet Information</h4>
<p><button type="button" name="cmdEditVet" ng-click='pac.editVet()'>Edit</button></p>

  <p><label for="txtVetClinic">Clinic: </label>
  <input type="text" name="txtVetClinic" value=""></p>

  <p><label for="txtVetDr">Doctor: </label>
  <input type="text" name="txtVetDr" value=""></p>

  <p><label for="txtVetStreet">Stree: </label>
  <input type="text" name="txtVetStreet" value=""></p>

  <p><label for="txtVetCity">City: </label>
  <input type="text" name="txtVetCity" value=""></p>

  <p><label for="txtVetState">State: </label>
  <input type="text" name="txtVetState" value=""></p>

  <p><label for="txtVetZIP">ZIP</label>
  <input type="text" name="txtVetZIP" value=""></p>

  <p><label for="telVetPhone">Phone: </label>
  <input type="tel" name="telVetPhone" value=""></p>

  <p><label for="txtVetEmail">Email: </label>
  <input type="text" name="txtVetEmail" value=""></p>

  <p><label for="txtVetURL">Website: </label>
  <input type="text" name="txtVetURL" value=""></p>
</div>
<hr>
<!-- END petVetData -->
